<template>
  <v-card :class="[index % 2 !== 0 ? 'grey lighten-4' : '']" flat tile>
    <v-container pa-2 ma-0 fluid>
      <v-row no-gutters>
        <v-col align-self="start" cols="2" sm="1">
          <v-row align="center" no-gutters>
            <v-checkbox
              v-model="selected"
              color="indigo darken-4"
              :ripple="false"
              class="ma-0"
              hide-details
              dense
            ></v-checkbox>
            <span class="content">{{ index }}</span>
          </v-row>
        </v-col>
        <v-col
          v-if="['xs'].indexOf($vuetify.breakpoint.name) == -1"
          cols="4"
          md="3"
          class="column"
          >{{ useCase.content.article_title }}</v-col
        >
        <v-col
          v-if="['xs', 'sm'].indexOf($vuetify.breakpoint.name) == -1"
          cols="2"
          class="column"
          >{{ useCase.basic_info.industry }}</v-col
        >
        <v-col cols="3" sm="2" class="column">{{
          useCase.basic_info.customer
        }}</v-col>
        <v-col
          v-if="['xs', 'sm'].indexOf($vuetify.breakpoint.name) == -1"
          cols="2"
          class="column"
        >
          <ul>
            <li v-for="(item, i) in useCase.basic_info.applications" :key="i">
              {{ item }}
            </li>
          </ul>
        </v-col>
        <v-col cols="3" sm="2" md="1" class="column">{{
          useCase.status
        }}</v-col>
        <v-col cols="3" sm="2" md="1" class="column">
          <v-row>
            <v-dialog v-model="dialog" persistent max-width="300">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  v-bind="attrs"
                  :ripple="false"
                  fab
                  x-small
                  icon
                  color="red lighten-3"
                  v-on="on"
                >
                  <v-icon>mdi-file-remove</v-icon>
                </v-btn>
              </template>
              <v-card class="pa-2">
                <v-card-title class="subtitle-1"
                  >Are you sure you want to permanently remove this use
                  case?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red" small text @click="remove">Remove</v-btn>
                  <v-btn small color="green" dark @click="dialog = false"
                    >Cancel</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-btn
              :ripple="false"
              fab
              x-small
              icon
              color="grey lighten-1"
              depressed
              dark
              @click="changeStatus($event, 'inactive')"
            >
              <v-icon>mdi-file-cancel</v-icon>
            </v-btn>
            <v-btn
              :ripple="false"
              fab
              x-small
              icon
              color="green lighten-2"
              depressed
              dark
              @click="changeStatus($event, 'active')"
            >
              <v-icon>mdi-file-check</v-icon>
            </v-btn>
            <v-btn
              :ripple="false"
              fab
              x-small
              icon
              color="indigo accent-1"
              depressed
              dark
              @click="edit"
            >
              <v-icon>mdi-file-edit</v-icon>
            </v-btn>
            <v-btn
              :ripple="false"
              fab
              x-small
              icon
              color="orange lighten-3"
              depressed
              dark
              @click="
                $router.push({ name: 'UseCase', params: { id: useCase.id } })
              "
            >
              <v-icon>mdi-file-eye</v-icon>
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
// import ConfirmDialog from './ConfirmDialog.vue'
import { deleteUseCase, changeCaseStatus } from '@/api'
export default {
  name: 'PanelUseCase',
  // components: { ConfirmDialog },
  props: {
    useCase: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      selected: false,
      dialog: false
    }
  },
  methods: {
    remove() {
      const caseId = this.useCase.id
      const that = this
      // const csrfAccess = this.$cookies.get('csrf_access_token')
      // app can't seem to access cookies when deployed to heroku -> workaround: csrf_access_token sent in the response
      const csrfAccess = this.$store.state.user.csrfAccessToken
      deleteUseCase(caseId, csrfAccess)
        .then(() => that.$store.dispatch('setUserUseCases'))
        .catch(error => console.log('Error deleting use case', error))
    },
    changeStatus(e, status) {
      const caseId = this.useCase.id
      const that = this
      // const csrfAccess = this.$cookies.get('csrf_access_token')
      // app can't seem to access cookies when deployed to heroku -> workaround: csrf_access_token sent in the response
      const csrfAccess = this.$store.state.user.csrfAccessToken
      changeCaseStatus(caseId, status, csrfAccess)
        .then(() => that.$store.dispatch('setUserUseCases'))
        .catch(error => console.log('Error changing status', error))
    },
    edit() {
      const caseId = this.useCase.id
      this.$store.dispatch('fetchForUpdate', caseId)
    }
  }
}
</script>

<style scoped>
.content {
  text-align: center;
}

.column {
  border-left: 1px solid rgb(211, 211, 211);
  padding: 0 14px;
}

.v-card__text,
.v-card__title {
  word-break: normal; /* maybe !important  */
}
</style>
