<template>
  <v-app-bar id="appBar" color="white" app elevate-on-scroll>
    <v-container id="nav-bar" class="pa-0">
      <v-row no-gutters class="align-center">
        <!-- Logo -->
        <v-col md="3">
          <router-link to="/">
            <AutoMateLogo font-size="25px"></AutoMateLogo>
          </router-link>
        </v-col>

        <!-- Main Navigation Buttons -->
        <v-col class="d-none d-lg-block" md="6">
          <v-container class="d-flex justify-center pa-0">
            <router-link class="nav" to="/">Home</router-link>
            <router-link class="nav" to="#">Contact</router-link>
            <a
              class="nav nav_swagger"
              href="http://automate-backend.herokuapp.com/swagger/"
              >Swagger</a
            >
          </v-container>
        </v-col>

        <!-- Sign in/up buttons OR Drawer toggle button -->
        <v-col id="sign-in-up">
          <component :is="navigation"></component>
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
import SignInUp from './SignInUp.vue'
import DrawerButton from './DrawerButton.vue'
import AutoMateLogo from '../base/AutoMateLogo.vue'

export default {
  name: 'NavBar',
  components: { SignInUp, DrawerButton, AutoMateLogo },
  data() {
    return {
      // navBarStyle: {
      //   position: 'absolute'
      // }
    }
  },
  computed: {
    navigation() {
      if (['xs', 'sm', 'md'].includes(this.$vuetify.breakpoint.name)) {
        return DrawerButton
      } else {
        return SignInUp
      }
    }
  }
}
</script>

<style scoped>
* {
  font-family: 'Maven Pro';
}

.nav {
  color: #4a4a4a;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.nav_swagger {
  font-weight: 600;
  color: rgb(0, 160, 0);
}
</style>
