<template>
  <v-card min-height="800px" class="registration-panel" flat tile>
    <v-container fluid class="py-12">
      <v-row justify="center">
        <v-col cols="12" sm="10" lg="8" xl="6">
          <v-card tile class="mx-12">
            <v-row no-gutters>
              <v-col
                v-if="['xs', 'sm'].indexOf($vuetify.breakpoint.name) == -1"
                cols="4"
              >
                <v-img
                  height="100%"
                  src="@/assets/images/subscribe_2_alpha.jpg"
                >
                  <v-container fill-height pa-7>
                    <v-row no-gutters justify-content="center">
                      <v-col>
                        <v-row justify="center">
                          <p>Already have an account?</p>
                        </v-row>
                        <v-row justify="center">
                          <router-link to="/login" class="login-button">
                            <OutlinedButton>Sign In</OutlinedButton>
                          </router-link>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-img>
              </v-col>

              <v-col cols="12" md="8">
                <v-container class="pb-12">
                  <v-row no-gutters justify="end">
                    <AutoMateLogo font-size="18px"></AutoMateLogo>
                  </v-row>
                  <v-row no-gutters class="my-6" justify="center">
                    <p class="form-title">Create an account</p>
                  </v-row>
                  <v-row no-gutters justify="center">
                    <v-col cols="10" lg="6" align="center">
                      <v-form
                        ref="form"
                        v-model="valid"
                        class="d-flex flex-column"
                      >
                        <v-text-field
                          v-model="username"
                          :counter="10"
                          :rules="[rules.name_char, rules.name_len]"
                          label="Username"
                          required
                        ></v-text-field>

                        <v-text-field
                          v-model="email"
                          :rules="[rules.email]"
                          label="E-mail"
                          required
                        ></v-text-field>
                        <v-text-field
                          v-model="company_name"
                          label="Company name"
                          required
                        ></v-text-field>
                        <v-text-field
                          v-model="password"
                          :rules="[rules.password_char, rules.password_len]"
                          label="Password"
                          required
                          :type="showPassword ? 'text' : 'password'"
                          :append-icon="
                            showPassword ? 'mdi-eye' : 'mdi-eye-off'
                          "
                          @click:append="showPassword = !showPassword"
                        ></v-text-field>
                        <v-text-field
                          label="Confirm password"
                          :rules="
                            [v => v === password] || 'Passwords must match'
                          "
                          required
                          :type="showConfirm ? 'text' : 'password'"
                          :append-icon="showConfirm ? 'mdi-eye' : 'mdi-eye-off'"
                          @click:append="showConfirm = !showConfirm"
                        ></v-text-field>
                        <p v-if="registerErrorMsg" class="error-msg">
                          {{ registerErrorMsg }}
                        </p>
                        <v-checkbox
                          v-model="agree"
                          :rules="[v => !!v || 'You must agree to continue!']"
                          label="I agree to the collection and processing of personal data by AutoMate."
                          required
                          class="checkbox"
                        ></v-checkbox>
                        <v-btn
                          class="btn align-self-center"
                          depressed
                          color="rgba(20, 18, 40, 0.98)"
                          dark
                          rounded
                          @click="register"
                          >Let's Go!</v-btn
                        >
                        <p
                          v-if="
                            ['xs', 'sm'].indexOf($vuetify.breakpoint.name) !==
                              -1
                          "
                          class="login-route"
                        >
                          Already have an account?
                          <router-link to="Login">Log in</router-link>
                        </p>
                      </v-form>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import OutlinedButton from '@/components/base/OutlinedButton.vue'
// import FilledButton from '@/components/base/FilledButton.vue'
import AutoMateLogo from '@/components/base/AutoMateLogo.vue'
import { EventBus } from '@/utils'
export default {
  name: 'Register',
  components: { OutlinedButton, AutoMateLogo },
  data() {
    return {
      registerErrorMsg: null,
      valid: false,
      username: '',
      email: '',
      company_name: '',
      password: '',
      agree: false,
      showPassword: false,
      showConfirm: false,
      rules: {
        name_char: v =>
          /^.*(?=.*\d)(?=.*[a-zA-Z]).*$/.test(v) ||
          'Username must contain at least one letter and one digit',
        name_len: v =>
          6 < v.length <= 15 ||
          'Username must be longer than 6 and shorter than 15 characters',
        email: v => /.+@.+\..+/.test(v) || 'Invalid email',
        password_char: v =>
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])/.test(v) ||
          'Password must contain at least 1 lowercase letter, 1 uppercase letter and a special character',
        password_len: v =>
          /(?=.{8,})/.test(v) || 'Password must be at least 8 characters.'
      }
    }
  },
  created() {
    const that = this
    EventBus.$on('register-failed', msg => (that.registerErrorMsg = msg))
  },
  methods: {
    register() {
      if (this.valid) {
        this.$store.dispatch('register', {
          username: this.username,
          company_name: this.company_name,
          email: this.email,
          password: this.password
        })
      }
    }
  }
}
</script>

<style scoped>
.registration-panel {
  background: rgba(20, 18, 40, 0.98);
  font-family: Maven Pro;
  height: 750px;
}

.registration-panel p {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

p.form-title {
  color: rgba(20, 18, 40, 0.98);
}

form >>> label {
  font-size: 0.9rem;
}
.checkbox >>> label {
  font-size: 0.6rem;
  line-height: 0.9rem;
}

.btn {
  font-family: Maven Pro;
  font-style: normal;
  font-weight: normal;
  text-transform: initial;
  font-size: 1rem;
  letter-spacing: 0;
  margin: 0.8rem 0;
}

.login-button {
  text-decoration: none;
}

p.error-msg {
  color: red;
  font-size: 0.7rem;
  text-align: start;
  margin-bottom: 0;
}

p.login-route {
  margin-top: 0.7rem;
  font-size: 0.7rem;
  color: rgba(20, 18, 40, 0.98);
}
</style>
