<template>
  <v-container class="user-panel" fluid style="padding-left: 70px">
    <v-row no-gutters>
      <v-col class="pa-3 pa-md-6">
        <p class="panel-title">User Settings</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Settings',
  components: {},
  data() {
    return {}
  }
}
</script>

<style scoped>
.panel-title {
  color: #3e5292;
  font-size: 18px;
  font-weight: bold;
}
</style>
