<template>
  <v-toolbar id="filterNav" height="auto" color="#515E8A">
    <v-container pa-0>
      <v-row align="stretch" justify="center">
        <v-col
          v-for="(value, key) in filterOptions"
          :key="key"
          class="pa-0"
          cols="4"
          lg="2"
        >
          <v-select
            v-model="selections[key]"
            class="ma-2"
            hide-details
            solo
            clearable
            flat
            item-color="#515Ea8A"
            multiple
            dark
            :label="key | capitalize"
            :items="value"
            background-color="#6976A4"
            @blur="filter"
          >
            <template v-slot:selection="{ item, index }">
              <span v-if="index === 0" class="select mr-7 mb-0">{{
                item | truncate(strLength)
              }}</span>
              <span v-if="index === 1" class="select-count grey--text"
                >(+{{ selections[key].length - 1 }} others)</span
              >
            </template>
          </v-select>
        </v-col>
      </v-row>
    </v-container>
  </v-toolbar>
</template>

<script>
import { EventBus } from '@/utils'
export default {
  name: 'FilterNav',
  filters: {
    capitalize: value => {
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
    truncate: (str, len) => {
      return str.length > len ? str.slice(0, len) + '...' : str
    }
  },
  props: {
    filterOptions: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selections: {}
    }
  },
  computed: {
    strLength() {
      let len
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          len = 5
          break
        case 'sm':
          len = 10
          break
        case 'md':
          len = 15
          break
        case 'lg':
          len = 10
          break
        case 'xl':
          len = 15
          break
      }
      return len
    }
  },
  methods: {
    filter(event) {
      console.log({ event })
      if (event) {
        this.$emit('filter-results', this.selections)
        EventBus.$emit('current-page-reset')
      }
    }
  }
}
</script>

<style scoped>
.disabled {
  pointer-events: none;
  color: #bfcbd9;
  cursor: not-allowed;
  background-image: none;
  background-color: #eef1f6;
  border-color: #d1dbe5;
}
.select {
  font-size: 12px;
}

.select-count {
  font-size: 11px;
}
</style>
