<template>
  <v-text-field
    disabled
    hide-details
    rounded
    class="search-field"
    :placeholder="placeholder"
    append-icon="mdi-magnify"
    clear-icon="mdi-close-circle"
    clearable
    outlined
    dense
    type="text"
    color="yellow"
    single-line
    @blur="filter"
  ></v-text-field>
</template>

<script>
export default {
  name: 'SearchFiled',
  data() {
    return {
      placeholder: 'Search for industries, applications, companies...'
    }
  },
  methods: {
    filter() {}
  }
}
</script>

<style scoped>
.search-field {
  font-size: 14px;
}
</style>
